<div class="container">
  <div class="row contenedor">
    <div class="col col-sm-1">Pozo
      <ul>
        <li>Pozo A</li>
        <li>Pozo B</li>
        <li>Pozo C</li>
        <li>Pozo D</li>
      </ul>
    </div>
    <div class="col col-sm-1">Fluido
      <ul>
        <li>TRGV-S</li>
        <li>TRGV-S</li>
        <li>TRGV-S</li>
        <li>TRGV-S</li>
      </ul>
    </div>
    <div class="col col-sm-1">Depto
      <ul>
        <li>Meta</li>
        <li>Meta</li>
        <li>Meta</li>
        <li>Meta</li>
      </ul>
    </div>
    <div class="col col-sm-1">Municipio
      <ul>
        <li>Rubiales</li>
        <li>Rubiales</li>
        <li>Rubiales</li>
        <li>Rubiales</li>
      </ul>
    </div>
    <div class="col col-sm-1">Campo
      <ul>
        <li>quifa</li>
        <li>quifa</li>
        <li>quifa</li>
        <li>quifa</li>
      </ul>
    </div>
    <div class="col col-sm-1">Cluster
      <ul>
        <li>103</li>
        <li>103</li>
        <li>103</li>
        <li>103</li>
      </ul>
    </div>
    <div class="col col-md-4  ">Accion
      <div class="acciones">
        <a class="editar" href="">Editar</a>
        <a class="ver" href="">Ver graficos</a>
        <a class="eliminar" href="">Eliminar</a>
      </div>
      <div class="acciones">
        <a class="editar" href="">Editar</a>
        <a class="ver" href="">Ver graficos</a>
        <a class="eliminar" href="">Eliminar</a>
      </div>
      <div class="acciones">
        <a class="editar" href="">Editar</a>
        <a class="ver" href="">Ver graficos</a>
        <a class="eliminar" href="">Eliminar</a>
      </div>
      <div class="acciones">
        <a class="editar" href="">Editar</a>
        <a class="ver" href="">Ver graficos</a>
        <a class="eliminar" href="">Eliminar</a>
      </div>

    </div>

  </div>
</div>