<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Sistema de seleccion de válvulas</h3>
		<div class="card-text">
			<figure class="figure">
        <img src="../assets/imagenes/Valvulas.png" class="figure-img img-fluid rounded" alt="Logo Empresa">
      </figure>
			<form>
				<div class="form-group">
					<label for="nombreUsuario">Usuario</label>
					<input type="email" class="form-control " id="nombreUsuario" >
				</div>
				<div class="form-group">
					<label for="contraseña">Contraseña</label>
					<input type="password" class="form-control " id="contraseña">
				</div>
        <a routerLink="/lista" class="btn btn-primary btn-block">Ingresar</a>
        <a style="font-size:12px;">Olvide mi contraseña</a>
		
			</form>
		</div>
	</div>
</div>
</div>
<router-outlet></router-outlet>